@import '../../shared/styles/variables';
@import '../../shared/styles/helpers';

.events {
  &__header {
    @include media-breakpoint-up(sm) { 
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__title {
    margin: 0.5em 0 0.25em;

    @include media-breakpoint-up(sm) { 
      margin: 0.67em 0;
    }
  }
}


.order-toggler {
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 1rem;
  transition: color $transition-time/2 $transition-func;

  &:hover {
    color: $accent;
  }

  &.desc {
    svg {
      transform: rotate(180deg) scale(1, 1);
    }
  }

  svg {
    fill: currentColor;
  }

  @for $i from 1 through 3 {
    .line:nth-child(#{$i}) {
      transition-delay: #{(3 - $i) * ($transition-time/ 3) };
    }
  }
}
