@import '../../shared/styles/helpers';
@import '../../shared/styles/variables';

.page-event {
  &__info {

    @include media-breakpoint-up(sm) { 
      display: flex;
      align-items: center;
    }

    > * {
      display: flex;
      align-items: center;
      margin: 0.5rem 0;

      @include media-breakpoint-up(sm) {
        margin: 0.5rem 1rem 0.5rem 0;
      }
    }

    svg {
      fill: $accent;
      margin-right: 0.25rem;
    }
  }

  &__price {
    font-weight: bold;

    &--free {
      background-color: $accent;
      border-radius: 4px;
      color: #FFF;
      padding: 0 .5em;
      display: inline-block;

      svg {
        display: none;
      }

      &:before,
      &:after {
        content: none;
      }
    }
  }
}