@import '../../shared/styles/variables';
@import '../../shared/styles/helpers';

.events {
  list-style: none;
  padding: 0;
}

.event {
  position: relative;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid #F9F9F9;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);

  @include media-breakpoint-up(sm) {
    padding: 0.5rem 5rem 0.5rem 1rem;
  }

  svg {
    fill: transparent;
    stroke: transparent;
  }

  &__actions {
    margin-bottom: 0.5rem;
    position: relative;
    padding-right: 2.5rem;

    @include media-breakpoint-up(sm) { 
      padding-right: 1.5rem;
      flex-wrap: wrap;
      display: flex;
      align-items: center;
    }
  }

  &__link {
    color: #000;
    text-decoration: none;
    font-size: 1.25rem;
    transition: color $transition-time $transition-func;

    &:hover,
    &:focus {
      color: $accent;
    }

    @include media-breakpoint-up(sm) {
      margin-bottom: 0.5rem;
      width: 100%;
    }

    @include media-breakpoint-up(md) {
      margin-right: 1rem;
      margin-bottom: 0;
      width: auto;
    }
  }

  .favourites-toggler {
    position: absolute;
    top: 0;
    right: 0;
    @include media-breakpoint-up(sm) {
      position: static;
    }
  }

  &__price,
  &__label {
    display: inline-block;
    margin-bottom: 0.5rem;
    
    @include media-breakpoint-up(sm) {
      position: absolute;
      right: 0.5rem;
      top: 50%;
      transform: translateY(-50%);
      margin-bottom: 0;
    }
  }

  &__label {
    padding: 0.5em;
    font-size: 75%;
    background-color: $accent;
    color: #fff;
  }

  &__price {
    font-weight: bold;
  }
}
